@import 'settings'
@import 'sections'

html
  background $purple
  padding 0

html,
body
  color $text
  font-weight 500
  height 100%
  margin 0
  overflow-x hidden
  position relative
  width 100%

body
  font-family 'Raleway', sans-serif
  opacity 0
  padding 0
  transition opacity 0.25s
  &.loaded
    opacity 1 !important

ol
  padding-left 20px

ul
  list-style none
  padding 0

  li
    margin 10px 0

b, p, li
  font-size 16px
  line-height 1.5
  margin 0
  max-width 768px
  +media600()
    font-size 18px
  +media1200()
    font-size 20px
    line-height 36px
    text-align justify

a
  color $text
  font-weight bold
  text-decoration none
  transition all .2s
  &:hover:not(.button)
    text-decoration underline

h1, h2, h3, h4
  color #3A303A
  font-family $heading, sans-serif
  font-weight normal
  margin 0
  i
   display inline-block
   margin-right: 10px

h3
  font-size 24px
  line-height 28px
  text-align center
  +media600()
    font-size 28px
    line-height 42px
  +mobile()
    margin-top 0

button,
.button,
input[type="submit"]
  background $blue
  backface-visibility hidden
  border 0
  border-radius 50px
  boxShadow()
  font-family $heading 
  font-weight 400 
  color $text
  cursor pointer
  display inline-block
  font-size 18px
  max-width 768px
  inputHover()
  padding 15px 25px 15px 25px
  text-decoration none
  transform none
  vertical-align middle
  &[disabled]
    pointer-events none
  &:hover
    background lighten($blue, 20%)
  &:active
    background darken($blue, 5%)
  &.green
    background $green
    &:hover
      background lighten($green, 20%)
    &:active
      background darken($green, 5%)
  &.purple
    background $purple
    &:hover
      background lighten($purple, 20%)
    &:active
      background darken($purple, 5%)
  i
    margin-right 5px

input[type="email"],
input[type="text"]
  background #FAFAFA
  border 0
  border-radius 5px
  boxShadow()
  color $text
  font-family 'Font Awesome 5 Pro', 'Raleway'
  font-size 18px
  height 50px
  inputHover()
  margin-bottom 15px
  max-width 768px
  text-align center
  transition all .2s
  vertical-align middle

ul.bulletPoints
  flexCenter(column)
  align-items flex-start
  margin-top 0
  li
    align-items center
    display flex
    text-align left
    +media1200()
      margin 15px 0
    i
      color $text
      font-size 24px
      textShadow()
      margin-right 15px
      min-width 30px
      text-align: center 
      +media600()
        margin-right 30px
      +desktop()
        font-size 34px
        margin-right 40px
        width 30px

#container
  height 100%
  width 100%

section
  flexCenter(column)
  position relative
  padding-top 50px
  text-align center
  width 100%
  max-width 100%
  +media600()
    padding-top 60px
  +media1200()
    padding-top 80px
    &:not(.hero)
      padding-bottom 20px

.sectionInner
  flexCenter(column)
  flex-wrap wrap
  gap 20px
  padding 20px 0
  width calc(100% - 20px)
  max-width 100%
  h3 + p
    margin-top 5px
  > p
    text-align justify
  +media600()
    gap 30px
    padding 30px 0

  img + div > p:first-child
    margin-top 0
    +desktop()
      margin-top 22px

  .sectionInnerColumns
    flexCenter(column)
    gap 20px
    +media1200()
      gap 40px
    img
      object-fit contain
      margin-bottom 10px
      max-width 640px
      max-height 640px
      +mobile()
        max-height 480px
        max-width 100%
    > div
      display flex
      flex-direction column
      flex 1 
      gap 20px
      +media600()
        gap 30px
      .sectionSubtitle
        font-family $heading 
        font-size 18px
        +media600()
          font-size 20px
        +desktop()
          font-size 22px
    +media1200()
      flexCenter()
      align-items flex-start
      flex-wrap nowrap

section:nth-child(odd) .sectionInnerColumns
  +media1200()
    flex-direction row-reverse

.wave
  bottom 0
  position absolute
  transform scaleX(5) translateY(35px)
  height 40px
  +media600()
    height 50px
    transform scaleX(10) translateY(45px)
  +media1200()
    transform scaleX(15) translateY(45px)

.button.ctaButton
  background $green
  &:hover
    background $greenend

.footer
  background $red
  padding-bottom 40px
  text-align center

  > div
    flexCenter()
    padding 80px 0 30px 0
    width 100%
    z-index -1

    a
      font-size 36px
      cursor pointer
      color $white
      margin 0 15px
      textShadow()
    svg
      fill $white
      height 40px
      width 40px

  .privacy
    color $text
    font-size 14px
    font-style italic
    margin 0 auto
    padding 10px 0
    width 100%
